<div class="dt main">
	  <div class="dr">
	  	<div class="dc">
			<div class="dt header">
			  <div class="dr">
				<div class="dc hear_width1"></div>
				<div class="dc hear_width2">
					<div class="dt head_height1">
					  <div class="dr">
						<div class="dc" style="width:210px">
							<br style="line-height:13px">
							<a href="/"><img src="~/images/logo.gif" alt="" border="0" style="margin-left:35px"></a><br>
						</div>
						<div class="dc" style="width:412px;">
							<br style="line-height:40px">
							<a href="/index.php" class="leng active"><img src="~/images/russia.png" alt="" border="0" style="vertical-align: middle;"> <span>Русский</span></a>
							<a href="/english/index.php" class="leng lenleft" ><img src="~/images/gbr.png" alt="" border="0" style="vertical-align: middle;"> <span>English</span></a>
							<a href="/china/index.php" class="leng lenleft"><img src="~/images/china.png" alt="" border="0" style="vertical-align: middle;"> <span>Chinese</span></a><br>
						    </div>
					  </div>
					</div>
					<div class="dt head_height2">
					  <div class="dr">
						<div class="dc">
							<br style="line-height:53px">
							<img src="~/images/slogan.gif" alt="" style="margin-left:367px"><br>
						</div>
					  </div>
					</div>
					<div class="dt head_height3">
					  <div class="dr" >
						<div class="dc">
						<table cellpadding="0" cellspacing="0" width="681" height="31" border="0">
						  <tr>
						    <td width="194"><img src="~/images/p_left.gif" width="194" height="37" alt=""></td>
						    <td width="97" class="button1" align="center"><a href="index.php">О компании</a></td>
						    <td width="97" class="button2" align="center"><a href="index-2.php">Партнеры</a></td>
						    <td width="98" class="button3" align="center"><a href="index-3.php">Контакты</a></td>
						    <td width="195"><img src="~/images/p_right.gif" width="195" height="37" alt=""></td>
						  </tr>
						</table>
						</div>
					  </div>
					</div>
				</div>
				<div class="dc hear_width3"></div>
			  </div>
			</div>
			<div class="dt content">
			  <div class="dr">
				<div class="dc content_width1"><img src="~/images/img_left.gif" alt=""><br></div>
				<div class="dc content_width2">
					<div class="dt" style="height:183px">
					  <div class="dr">
						<div class="dc" style="width:50px"></div>
						<div class="dc" style="width:550px; border:0px solid #000;">
							<br style="line-height:9px">							<h1 style="color:#0076A3; margin-left:12px;">О КОМПАНИИ</h1>
							<div style="margin-left:12px; margin-right:50px">
								<br style="line-height:9px">
																<p style="text-align: justify"><strong>Компания "МАШИМПОРТ"</strong> – профессиональный участник внешнеэкономической деятельности, специализирующийся на поставках промышленного оборудования, запчастей  и инструмента из стран:</p>
								<ul>
									<li><strong>Европы,</strong></li>
									<li><strong>КНР (Северный, Цетральный, Южный),</strong></li>
									<li><strong>Тайваня,</strong></li>
									<li><strong>Турции,</strong></li>
									<li><strong>Кореи,</strong></li>
									<li><strong>США,</strong></li>
									<li><strong>Великобритании,</strong></li>
									<li><strong>Южной Африки</strong></li>
								</ul>

								<p><strong style="color: red">ЕВРОПА</strong></p>

								<p><strong>Италия</strong></p>
								
								<p>Fisrt Italia, Osama, Bacci, Bottero, Denver, SCV, Elephant, Ghines, Battellino, Nuova Mondial, Cursal, Logica, Elettromeccanica Giordano Colombo, Freud, Ilmetech, Ital Trade, Klein, Camam, Locatelli, P.A.O. MACC , Omec, Omgatech, Robopac, Stromab, Imaco, Paoloni, Italpresse, Uniconfort, Sarmax, Figli di Nando Trabattoni, Steton, Maggi, Fantacci G3, CMA Robotics , Casati</p>
								
								<p><strong>Чехия</strong></p>
								
								<p>Pilana Wood, GSP, Sulak, Pilana Saw Bodies, Pilana Knives, Agro Profi, Briklis, Katres, Sahos, Mitek</p>
								
								<p><strong>Германия</strong></p>
								
								<p>TSI, Butzbacher, Gann Mess, MV Engineering, E. Petschauer, Tigra, Kuper, Hoffmann, Stegherr, Schmalz, Otto Martin Maschinenbau, Hundegger, SMB Maschinenbau, S + S Maschinenbau, MS Maschinenbau, Ebalta , Brandt, Butfering , Ligmatech, Weeke, Homag.</p>
								
								<p><strong>Болгария</strong></p>
								
								<p>Stomana, Favorit-Mash, Shipka-54</p>
								
								<p><strong>Испания</strong></p>
								
								<p>Bimaq, Intorex, Plasticband, Barberan</p>
								
								<p><strong>Турция</strong></p>
								
								<p>ABM(Arti-Bileme), DURA, Intergrup, Kocayusuf, Din&ccedil;mak, A-TECH, BALA, Ustunkarli, Uludağ, Unimak, Turanlar, Hamech,</p>
								
								<p><strong>Великобритания</strong></p>
								
								<p>Dakin Flathers</p>
								
								<p><strong>Польша</strong></p>
								
								<p>Walter, Zakład Metalowy, Ro-Ma, PRINZ Polska</p>
								
								<p><strong>Швеция</strong></p>
								
								<p>Sweden Power Chipper AB, AB Munkforss&aring;gar</p>
								
								<p><strong>Финляндия</strong></p>
								
								<p>Tommi Laine Trading Oy</p>
								
								<p><strong>Австрия</strong></p>

								<p>Untha, Scheuch, Columbus, Langzauner</p>
								
								<p><strong>Словения</strong></p>
								
								<p>Trimwex, Mebor, Ledinek, Lesspoj</p>
								
								<p><strong>Литва</strong></p>
								
								<p>Kadis, Agregatas, Formula-Air</p>
								
								<p><strong>Дания</strong></p>
								
								<p>DANLIST</p>
								
								<p><strong>Латвия</strong><strong>:</strong></p>
								
								<p>ISTRA-A</p>
								
								<p><strong>Швейцария</strong></p>
								
								<p>Kr&uuml;si Maschinenbau AG</p>
								
								<p><strong style="color: red">КНР</strong></p>

								<p>REIGNMAC, TONGAN, YONGQIANG, NANXING, Keenman/Kerunda, New Mas, Houji, VICCAM, NEW MOTIVITY, QCR, JIANGSU JANGJA, QIULIN, Beijing Fanch, YAWEI, APW, WEIDA, HEADMAN, DMTG, YANGLI, SBKJ, Zhenjiang Ideal , Lianrou, Yuantian, Enkong и т.д.</p>
								
								<p><strong style="color: red">ТАЙВАНЬ</strong></p>
								<p>KUAN YUANG, LIH WOEI, SALIDA, COMATIC, JEFFER, ARIX , JAGURA, MYDAY, Blue Steel, Hoon Hsiang, Jong Sheng, San Ford, Yuan An, D-Way, Union One, TAKISAWA, HONOR SEIKI, SANCO, Yow Cherng, KAFO, HANNSA, YLM , Sumitomo, Marox, Ann Way и т.д.</p>
								
								<p><strong>Корея</strong></p>
								
								<p>Brother Membrane Press</p>
								
								<p><strong>Южная</strong> <strong>Африка</strong></p>
								
								<p>Somta</p>
								<p>&nbsp;</p>
								<p>&nbsp;</p>
								
							</div>					
					 
						</div>
						<div style="margin-left:63px">
							<br style="line-height:20px">

						</div>	
						</div>

					</div>
				</div>
				<div class="dc content_width3"><img src="~/images/img_right.gif" alt=""><br></div>
			  </div>
			</div>
			<div class="dt footer">
			  <div class="dr">
				<div class="dc">
				  <div style="margin:3px 15px 0 70px; vertical-align:bottom;"><img src="~/images/logo_footer.gif" alt="" align="left"> <span><br style="line-height:6px;">Copyright &copy; 1991-2014 MASHIMPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				  <!--LiveInternet counter--><script type="text/javascript"><!--
				document.write("<a href='http://www.liveinternet.ru/click' "+
				"target=_blank><img src='http://counter.yadro.ru/hit?t26.2;r"+
				escape(document.referrer)+((typeof(screen)=="undefined")?"":
				";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
				screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
				";"+Math.random()+
				"' alt='' title='LiveInternet"+
				"border='0' width='88' height='15'><\/a>")
				//--></script><!--/LiveInternet-->
				  
				  </span></div>
				</div>
			  </div>
			</div>
		</div>
	  </div>
	</div>