<div class="dt content">
	<div class="dr">
		<div class="dc content_width1">
			<img src="~/images/img_left.gif" alt="">
			<br>
		</div>
		<partial name="Partial/_AboutContent"/>
		<div class="dc content_width3">
			<img src="/images/img_right.gif" alt="">
			<br>
		</div>
	</div>
</div>