<div class="dt content">
	<div class="dr">
		<div class="dc content_width1">
			<img src="images/img_left.gif" alt="">
			<br>
		</div>
		<div class="dc content_width2">
			<div class="dt" style="height:183px">
				<div class="dr">
					<div class="dc" style="width:50px"/>
					<div class="dc" style="width:550px; border:0px solid #000;">
							<br style="line-height:9px">
							<h1 style="color:#0076A3; margin-left:12px;">НАШИ КОНТАКТЫ</h1>
							<div style="margin-left:12px; margin-right:50px">
								<br style="line-height:9px">
								<p><strong>Адрес:</strong> 107023, Москва, ул. Большая Семеновская, д.40<br />
								<strong>Тел/факс:</strong> (495)663-33-93<br />
								<strong>e-mail:</strong><a href="mailto:info@mash-import.com">info@mash-import.com</a></p><br/>
							</div>
					</div>
				</div>
			</div>
			<div class="dt" style="height:232px; background:#D9D9D9">
				<div class="dc" style="width:600px; border:0px solid #000;">
					<br style="line-height:9px">
					<partial name="Partial/_ContactContent"/>
					<div style="margin-left:63px">
						<br style="line-height:20px">
					</div>	
				</div>
			</div>
		</div>
		<div class="dc content_width3">
			<img src="/images/img_right.gif" alt="">
			<br>
		</div>
	</div>
</div>
			
			