<div class="dt content">
	<div class="dr">
		<div class="dc content_width1">
			<img src="images/img_left.gif" alt="">
			<br>
		</div>
		<div class="dc content_width2">
			<div class="dt" style="height:183px">
				<div class="dr">
					<div class="dc" style="width:50px"></div>
					<div class="dc" style="width:550px; border:0px solid #000;">
						<br style="line-height:9px">
						<partial name="Partial/_PartnersContent"/>
					</div>
					<div style="margin-left:63px">
						<br style="line-height:20px">
					</div>	
				</div>
			</div>
		</div>
		<div class="dc content_width3">
			<img src="/images/img_right.gif" alt="">
			<br>
		</div>
	</div>
</div>
			
			