<section>
	<div class=container>
		<h1 style="color:#0076A3; margin-left:12px;">Наши партнеры</h1>
		<div style="margin-left:12px; margin-right:50px">
			<br style="line-height:9px">
			<p><strong>Компания &laquo;МАШИМПОРТ&raquo;</strong> предлагает своим клиентам высочайший уровень сервиса во всех вопросах, связанных с ведением Внешней-Экономической Деятельности.</p>
			<p><strong style="color: red">Транспорт:</strong></p>
			<p><strong>&laquo;Машимпорт&raquo; предлагает</strong> морские перевозки грузов с использованием широкой сети агентов и складов.</p>
			<p><strong>Мы предоставляем</strong> доставку всех групп товаров в контейнерах любого типа.</p>
			<p>Имеем договорные отношения с большим количеством контейнерных линий, среди которых известные на рынке морских перевозок компании COSCO, EVERGREEN, YANG MING, MAERSK, MSC, HANJIN, UNIFEEDER и многие другие.
			<br/>Наличие развитой транснациональной сети контактов позволяет нам обеспечивать &nbsp;нашим клиентам отправку и получение грузов с оптимальным соотношением скорости и стоимости доставки по всему миру.</p>
			<p><strong>Мы предоставляем</strong> доставку всех групп товаров автотранспортом любого типа.</p>
			<p><strong>Специалисты компании</strong> проконсультируют Вас и предложат на выбор наилучшие варианты маршрутов перевозок для Вашего груза.</p>
			<p><strong style="color: red">Таможня:</strong></p>
			<p><strong>Мы сотрудничаем </strong>только с проверенными партнерами в области таможенного оформления грузов на всей территории стран Таможенного союза.</p>
			<p>Большинство наших партнеров являются ведущими участниками рынка предоставления 3PL услуг.</p>
			<p><strong>Мы специализируемся</strong> на транспортно-экспедиционном обслуживании, таможенном оформлении, оказании услуг склада временного и ответственного хранения.</p>
			<p><strong style="color: red">Хранение:</strong></p>
			<p><strong>Мы предоставляем</strong> складские площади для хранения грузов наших клиентов с полным комплексом складских услуг на высочайшем уровне.</p>
			<p><strong style="color: red">Сопутствующие услуги:</strong></p>
			<p><strong>Мы предоставляем</strong> помощь в получении разрешительной документации любого вида.</p>
			<p>Для этого имеем договорные отношения с надежными органами по сертификации всех видов продукции.</p>
			<p><strong>Мы предоставляем</strong> возможность проведения испытаний основных групп товара в профильных лабораториях.</p>
			<p><strong>Мы имеем</strong> прямые договорные отношения только с надежными страховыми компаниями, уровень компетенции и платежеспособность которых проверена на собственных грузах.</p>
			<p><strong>Языковое сопровождение:</strong></p>
			<p>В постоянном штате компании специалисты, говорящие на всех иностранных языках, которые применяются в большинстве стран мира.</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
	</div>
</section>