<div class="dt footer">
	<div class="dr">
		<div class="dc">
			<div style="margin:3px 15px 0 70px; vertical-align:bottom;">
				<img src="~/images/logo_footer.gif" alt="" align="left">
				<span>
					<br style="line-height:6px;">Copyright &copy; 1991-2014 MASHIMPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					<!--LiveInternet counter-->
					<script type="text/javascript">
						<!--
						document.write("<a href='http://www.liveinternet.ru/click' "+
						"target=_blank><img src='http://counter.yadro.ru/hit?t26.2;r"+
						escape(document.referrer)+((typeof(screen)=="undefined")?"":
						";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
						screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
						";"+Math.random()+
						"' alt='' title='LiveInternet"+
						"border='0' width='88' height='15'><\/a>")
						//-->
					</script>
					<!--/LiveInternet-->
				</span>
			</div>
		</div>
	</div>
</div>