<div class="dt header">
	<div class="dr">
		<div class="dc hear_width1"></div>
		<div class="dc hear_width2">
			<div class="dt head_height1">
				<div class="dr">
					<div class="dc" style="width:210px">
						<br style="line-height:13px">
						<a href="/"><img src="~/images/logo.gif" alt="" border="0" style="margin-left:35px"></a><br>
					</div>
					<partial name="Partial/_LanguageSelect"/>
				</div>
			</div>
			<div class="dt head_height2">
		<div class="dr">
			<div class="dc">
				<br style="line-height:53px">
				<img src="~/images/slogan.gif" alt="" style="margin-left:367px"><br>
			</div>
		</div>
			</div>
			<div class="dt head_height3">
		<div class="dr" >
			@*<partial name="Partial/_MainMenu"/>*@
			<vc:menu/>
		</div>
			</div>
		</div>
		<div class="dc hear_width3"></div>
	</div>
</div>