<div class="dc" style="width:412px;">
	<br style="line-height:40px">
	<a asp-controller="Russian" asp-action="About" class="leng active">
		<img src="~/images/russia.png" alt="" border="0" style="vertical-align: middle;">
		<span>Русский</span>
	</a>
	<a asp-controller="English" asp-action="About" class="leng lenleft">
		<img src="~/images/gbr.png" alt="" border="0" style="vertical-align: middle;">
		<span>English</span>
	</a>
	<a asp-controller="Chinese" asp-action="About" class="leng lenleft">
		<img src="~/images/china.png" alt="" border="0" style="vertical-align: middle;">
		<span>Chinese</span>
	</a>
	<br>
</div>