<section>
	<div class=container>
		<h1 style="color:#0076A3; margin-left:12px;">关于我们</h1>
		<div style="margin-left:12px; margin-right:50px">
			<br style="line-height:9px">
			<p style="text-align: justify">«Mashimport» 公司为专业从事外贸活动的公司，从欧洲，中国，台湾，韩国，土耳其等国进口工业设备与工具。我公司客户包括占有俄罗斯和独联体各国领先地位的机械经销商。由于与国内外合作伙伴的密切关系以及擅长欧洲，东方等外语，并具有外贸活动多年经验员工的专业能力，我公司可以给客户提供一系列服务，从寻找外国供应商，组织设备供应开始到处理保险期与保险期过后服务的问题为止。</p>
		</div>
	</div>
</section>

		



