@model Mashimport_03_22.ViewModels.ContactsInfoViewModel

<section>
	<div class="container">
		<h1 style="color:#0076A3; margin-left:12px;">联系我们的方式</h1>
		<div style="margin-left:12px; margin-right:50px">
			<br style="line-height:9px">
			<p><strong>地址:</strong>@Model.Address<br />
			<strong>电话/传真:</strong>@Model.TelephoneNumber<br />
			<strong>电子邮箱:</strong> <a href="mailto:info@mash-import.com">@Model.Email</a></p><br/>
		</div>
		<h1 style=" margin-left:59px;">发出询问</h1>	
		<div style="margin-left:63px; margin-right:10px">
			<br style="line-height:13px">
			<form method="post" action="/send.php">
				<table style="width: 560px">
					<tr>
						<td style="width: 50%">
							姓名:<br>
							<input name="fio" id="fio" value="" type="text"  style="width: 100%"><br>
							电子邮箱:<br>
							<input name="email" id="email" value="" type="text" style="width: 100%"><br>
							联系方式:<br>
							<input name="kont" id="kont" value="" type="text" style="width: 100%">
						</td>
						<td>您的询问:<br>
							<textarea cols="" rows="" name="ques" id="ques" style="width: 100%; height: 100px"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center">
							<input type="submit" value="发出询问" style="width:200px;text-align: center; font-size: 15px;">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</section>	