<section>
	<div class=container>
		<h1 style="color:#0076A3; margin-left:12px;">我们的合作伙伴</h1>
		<div style="margin-left:12px; margin-right:50px">
			<br style="line-height:9px">
			<p>«Mashimport»公司供应下列有名牌子的机械：</p>
			<p><u>木工机械</u></p>
			<p>HUNDEGGER (德国), MS (德国), PAOLINO BACCI (意大利), CURSAL (意大利), GIBEN (意大利), GREDA (意大利), GRIGGIO (意大利), HIRZT (意大利), MAGGI (意大利), BONGIOANNI (意大利), STETON (意大利), STROMAB (意大利), UNICONFORT (意大利), VITAP (意大利), MIDA (葡萄牙), USTUNKARLI (土耳其), TOMMI LAINE (土耳其), CAATTINAIR (法国), KATRES (捷克), GRACO (美国), NANXING (中国), REIGNMAC (中国), VICCAM (中国), YONGQIANG (中国), NEW MOTIVITY (中国), QIULIN (中国), TONGAN (中国)</p>
			<p><u>金属加工机械</u></p>
			<p>ARIX (台湾), MAXDRILL (台湾), SUNRISE (台湾), ACTUAL POWER (台湾), BPR (意大利), ROLLERI (意大利), CEBORA (意大利), WABECO (德国), SAGEN-MEHRING GMBH (德国), LDSA (法国), AIM (希腊), DMTG (中国), YANGLI (中国),  SBK (中国)</p>
			<p><u>玻璃加工机械</u></p>
			<p>BOTTERO (意大利), FOR.El. (意大利), STEFIGLASS (意大利), ENKONG (中国), SUNRISE (中国)</p>
		</div>
	</div>
</section>