<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>О КОМПАНИИ MASHIMPORT импорт промышленного оборудования</title>
		<partial name="Partial/_Styles"/>
		<partial name="Partial/_Scripts"/>
	</head>
	<body 
	style="background: #949494 url(~/images/bg_top.gif) repeat-x;" 
	onLoad="MM_preloadImages('~/images/m1_1.gif','~/images/m2_1.gif','~/images/m3_1.gif','~/images/m4_1.gif','~/images/m5_1.gif','~/images/m6_1.gif')">
		<div class="dt main">
			<div class="dr">
			  	<div class="dc">
					<partial name="Partial/_Header"/>

					@RenderBody();
			
					<partial name="Partial/_Footer"/>
				</div>
			</div>
		</div>
	</body>
</html>
