<section>
	<div class=container>
		<h1 style="color:#0076A3; margin-left:12px;">About us</h1>
		<div style="margin-left:12px; margin-right:50px">
			<br style="line-height:9px">
			<p style="text-align: justify">«Mashimport» company is a professional participant of foreign economic activity, specialized on supplying industrial equipment from Europe, China, Taiwan, Turkey, South Korea etc. The clients of our company are the leading machine-trading companies of Russia and CIS. Due to the close contacts with our Russian and foreign partners and the professionalism of our employees, fluent in European and Eastern languages, and having rich experience in foreign economic activities, our company is able to provide to the clients the whole range of services beginning with searching a foreign supplier and arranging machines supply and finishing with handling the questions of warranty and after-warranty service.</p>
		</div>	
	</div>
</section>

		



