@model ContactViewModel

<section>
	<div class="container">
		<vc:contacts model=@Model/>
		
		<h1 style=" margin-left:59px;">Send an inquiry</h1>	
		<div style="margin-left:63px; margin-right:10px">
			<br style="line-height:13px">
			<form method="post" action="/send.php">
				<table style="width: 560px">
					<tr>
						<td style="width: 50%">
							Name:<br>
							<input name="fio" id="fio" value="" type="text"  style="width: 100%"><br>
							E-mail:<br>
							<input name="email" id="email" value="" type="text" style="width: 100%"><br>
							Contacts:<br>
							<input name="kont" id="kont" value="" type="text" style="width: 100%">
						</td>
						<td>Your inquiry:<br>
							<textarea cols="" rows="" name="ques" id="ques" style="width: 100%; height: 100px"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center">
							<input type="submit" value="Send an inquiry" style="width:200px;text-align: center; font-size: 15px;">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</section>	