<section>
	<div class=container>
		<h1 style="color:#0076A3; margin-left:12px;">Our partners</h1>
		<div style="margin-left:12px; margin-right:50px">
			<br style="line-height:9px">
			<p>«Mashimport» company supplies the machines of the following well-known brands:</p>
			<p><u>Wood-working machines</u></p>
			<p>HUNDEGGER (Germany), MS (Germany), PAOLINO BACCI (Italy), CURSAL (Italy), GIBEN (Italy), GREDA (Italy), GRIGGIO (Italy), HIRZT (Italy), MAGGI (Italy), BONGIOANNI (Italy), STETON (Italy), STROMAB (Italy), UNICONFORT (Italy), VITAP (Italy), MIDA (Portugal), USTUNKARLI (Turkey), TOMMI LAINE (Turkey), CAATTINAIR (France), KATRES (Czech republic), GRACO (USA), NANXING (China), REIGNMAC (China), VICCAM (China), YONGQIANG (China), NEW MOTIVITY (China), QIULIN (China), TONGAN (China)</p>
			<p><u>Metal-working machines</u></p>
			<p>ARIX (Taiwan), MAXDRILL (Taiwan), SUNRISE (Taiwan), ACTUAL POWER (Taiwan), BPR (Italy), ROLLERI (Italy), CEBORA (Italy), WABECO (Germany), SAGEN-MEHRING GMBH (Germany), LDSA (France), AIM (Greece), DMTG (China), YANGLI (China),  SBK (China)</p>
			<p><u>Glass-working machines</u></p>
			<p>BOTTERO (Italy), FOR.El. (Italy), STEFIGLASS (Italy), ENKONG (China), SUNRISE (China)</p>
		</div>
	</div>
</section>